.posts {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  height: auto;
}

.post-title {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  font-size: 0.7em;
}

.thumbnail {
  border-radius: 50%;
  width: 5%;
  height: 5%;
  margin-left: 10px;
}

.username {
  margin-left: 10px;
}

.img-container {
  min-height: 250px;
}

.post-image {
  width: 100%;
  height: 100%;
}
